<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">

            <h3>Leave History</h3>

        </div>

        <div class="card-body">

            <table class="table table-striped table-bordered">

                <thead>

                    <tr>

                        <th>Leave Type</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status</th>
                        <th>Manager Comment</th>

                    </tr>

                </thead>

                <tbody>

                    @for (leave of leaves; track leave.leaveRequestId) {

                        <tr>

                            <td>{{ leave.leaveType }}</td>

                            <td>{{ leave.startDate | date }}</td>

                            <td>{{ leave.endDate | date }}</td>

                            <td>{{ leave.status }}</td>

                            <td>{{ leave.managerComment }}</td>

                        </tr>

                    }

                </tbody>

            </table>

        </div>

    </div>

</div>