@if (employee) {
<app-employee-navbar></app-employee-navbar>
<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white">
            <h3>Employee Dashboard</h3>
        </div>

        <div class="card-body">

            <h4>Welcome, {{ employee.name }}</h4>

            <hr>

            <p>
                <strong>Employee ID:</strong>
                {{ employee.employeeId }}
            </p>

            <p>
                <strong>Email:</strong>
                {{ employee.email }}
            </p>

            <p>
                <strong>Department:</strong>
                {{ employee.department }}
            </p>

            <p>
                <strong>Leave Balance:</strong>
                {{ employee.leaveBalance }}
            </p>

        </div>

    </div>
</div>


} @else {

<p>Employee is null</p>

}